java:
  image: 'hmctspublic.azurecr.io/dm/store:latest'
  ingressHost: dm-store-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal
  readinessDelay: 40
  readinessTimeout: 5
  readinessPeriod: 15
  readinessFailureThreshold: 10
  livenessDelay: 40
  livenessTimeout: 5
  livenessPeriod: 15
  livenessFailureThreshold: 10
  applicationPort: '4603'
  aadIdentityName: dm-store
  keyVaults:
    dm:
      resourceGroup: dm-shared
      secrets:
        - name: RpaAppInsightsInstrumentationKey
          alias: azure.application-insights.instrumentation-key
        - name: dm-store-storage-account-primary-connection-string
          alias: azure.storage.connection-string
        - name: store-POSTGRES-PASS
          alias: spring.datasource.password
        - name: app-insights-connection-string
          alias: app-insights-connection-string
  environment:
    # db
    SPRING_DATASOURCE_PORT: 5432
    SPRING_DATASOURCE_NAME: evidence
    SPRING_DATASOURCE_OPTIONS: "?ssl=disable"
    SPRING_DATASOURCE_HOST: dm-store-postgres-db-v15-{{ .Values.global.environment }}.postgres.database.azure.com
    SPRING_DATASOURCE_USERNAME: pgadmin
    HIKARI_MAX_POOL_SIZE: 10
    DB_CONNECTION_TIMEOUT: 5000

      # idam
    IDAM_USER_BASE_URI: 'https://idam-api.{{ .Values.global.environment }}.platform.hmcts.net'
    IDAM_S2S_BASE_URI: 'http://rpe-service-auth-provider-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal'

    S2S_NAMES_WHITELIST: divorce,ccd,em_api,em_gw,ccd_gw,ccd_data,sscs,sscs_bulkscan,divorce_document_upload,divorce_frontend,divorce_document_generator,em_npa_app,fpl_case_service,finrem_document_generator,iac,em_stitching_api,dg_docassembly_api,ethos_repl_service,employment_tribunals,xui_webapp,ccd_case_document_am_api,unspec_service,nfdiv_case_api,wa_task_management_api,wa_task_configuration_api,adoption_web,adoption_cos_api,et_cos,ccd_case_disposer,finrem_case_orchestration
    DELETE_ENDPOINT_WHITELIST: ccd_case_disposer,em_gw
    RUN_DB_MIGRATION_ON_STARTUP: 'false'

    # Toggles
    ENABLE_IDAM_HEALTH_CHECK: 'false'
    ENABLE_METADATA_SEARCH: 'true'
    ENABLE_DOCUMENT_AND_METADATA_UPLOAD: 'false'
    ENABLE_FOLDER_API: 'true'
    ENABLE_TTL: 'false'
    ENABLE_THUMBNAIL: 'true'
    ENABLE_METADATA_MIGRATION: 'false'
    ENABLE_OVERRIDE_METADATA: 'false'
    ENABLE_CHUNKING: 'false'
    ENABLE_ORPHAN_DOCUMENT_DELETION: 'false'

    LOG_OUTPUT: single
    ROOT_LOGGING_LEVEL: INFO
    LOG_LEVEL_SPRING_WEB: INFO
    LOG_LEVEL_SPRING_BATCH: INFO
    LOG_LEVEL_DM: INFO
    LOG_LEVEL_POSTGRES: INFO
    LOG_LEVEL_SPRING_JDBC: INFO
    LOG_LEVEL_HIBERNATE: INFO

    # Document Storage
    STORAGE_CONTAINER_DOCUMENT_CONTAINER_NAME: dm-store-docstore-{{ .Values.global.environment }}

    TASK_ENV: documentTaskLock-aat
    DOCUMENT_METADATA_UPDATE_MILLISECONDS: 3600000
    # Below File size limits are in MB
    MAX_MEDIA_FILE_SIZE: 500
    MAX_NON_MEDIA_FILE_SIZE: 1024
    DOCUMENT_DELETE_TASK_CRON: 0 5 0-6 * * *
    DOCUMENT_DELETE_TASK_PAGE_SIZE: 1
    DOCUMENT_DELETE_TASK_CHUNK_SIZE: 1
    DOCUMENT_DELETE_TASK_MAX_ITEM_COUNT: 1
    # Case Document Deletion Job Schedule
    CASE_DOCUMENTS_DELETION_THREAD_LIMIT: 1
    CASE_DOCUMENTS_DELETION_NO_OF_ITERATIONS: 1
    CASE_DOCUMENTS_DELETION_BATCH_SIZE: 1

blobstorage:
  resourceGroup: dm-store-aso-preview-rg
  teamName: "CCD"
  location: uksouth
  setup:
    containers:
      - dm-docstore
  enabled: false

xui-webapp:
  enabled: false

idam-pr:
  enabled: false

