java:
  devmemoryLimits: "2Gi"
  devmemoryRequests: '2Gi'
  cpuLimits: "1000m"
  image: ${IMAGE_NAME}
  ingressHost: ${SERVICE_FQDN}
  readinessDelay: 60
  secrets:
    BLOB_ACCOUNT_NAME:
      secretRef: storage-secret-{{ .Release.Name }}
      key: storageAccountName
    BLOB_ACCESS_KEY:
      secretRef: storage-secret-{{ .Release.Name }}
      key: accessKey
    BLOB_SERVICE_ENDPOINT:
      secretRef: storage-secret-{{ .Release.Name }}
      key: primaryBlobServiceEndPoint
  keyVaults:
    dm: # Need to override only to get rid of the BlobStorage URL/details mapping.
      resourceGroup: dm-shared
      secrets:
        - name: RpaAppInsightsInstrumentationKey
          alias: azure.application-insights.instrumentation-key
  environment:
    # Endpoints
    IDAM_USER_BASE_URI: https://idam-api.aat.platform.hmcts.net
    IDAM_S2S_BASE_URI: http://rpe-service-auth-provider-aat.service.core-compute-aat.internal
    SPRING_DATASOURCE_HOST: "{{ .Release.Name }}-postgresql"
    SPRING_DATASOURCE_NAME: "{{ .Values.postgresql.auth.database}}"
    SPRING_DATASOURCE_USERNAME: "{{ .Values.postgresql.auth.username}}"
    SPRING_DATASOURCE_PASSWORD: "{{ .Values.postgresql.auth.password}}"
    # logging vars & healthcheck
    REFORM_ENVIRONMENT: preview
    PACKAGES_ENVIRONMENT: preview
    ENABLE_DB_MIGRATE: 'true'
    RUN_DB_MIGRATION_ON_STARTUP: true
    STORAGEACCOUNT_PRIMARY_CONNECTION_STRING: "DefaultEndpointsProtocol=https;AccountName=$(BLOB_ACCOUNT_NAME);AccountKey=$(BLOB_ACCESS_KEY);EndpointSuffix=core.windows.net"
    DOCUMENT_METADATA_UPDATE_MILLISECONDS: 1000
    ENABLE_METADATA_MIGRATION: 'false'
    STORAGE_CONTAINER_METADATA_CONTAINER_NAME: metadatamigration{{ .Release.Name }}
    STORAGE_CONTAINER_ORPHAN_DOCUMENTS_CONTAINER_NAME: orphandocumentdeletion{{ .Release.Name }}
  postgresql:
    enabled: true
blobstorage:
  enabled: true
