java:
  image: ${IMAGE_NAME}
  ingressHost: ${SERVICE_FQDN}
  readinessDelay: 60
#  secrets:
#    BLOB_ACCOUNT_NAME:
#      secretRef: storage-secret-{{ .Release.Name }}
#      key: storageAccountName
#    BLOB_ACCESS_KEY:
#      secretRef: storage-secret-{{ .Release.Name }}
#      key: accessKey
#    BLOB_SERVICE_ENDPOINT:
#      secretRef: storage-secret-{{ .Release.Name }}
#      key: primaryBlobServiceEndPoint
  environment:
    # Endpoints
    IDAM_USER_BASE_URI: https://idam-api.aat.platform.hmcts.net
    IDAM_S2S_BASE_URI: http://rpe-service-auth-provider-aat.service.core-compute-aat.internal
    SPRING_DATASOURCE_URL: jdbc:postgresql://{{ .Release.Name }}-{{ .Values.postgresql.nameOverride}}:5432/postgres?ssl=disable
    SPRING_DATASOURCE_USERNAME: "{{ .Values.postgresql.postgresqlUsername}}"
    SPRING_DATASOURCE_PASSWORD: "{{ .Values.postgresql.postgresqlPassword}}"
    # logging vars & healthcheck
    REFORM_ENVIRONMENT: preview
    PACKAGES_ENVIRONMENT: preview
    ENABLE_DB_MIGRATE: 'true'
#    STORAGEACCOUNT_PRIMARY_CONNECTION_STRING: "DefaultEndpointsProtocol=https;AccountName=$(BLOB_ACCOUNT_NAME);AccountKey=$(BLOB_ACCESS_KEY);EndpointSuffix=core.windows.net"
    DOCUMENT_METADATA_UPDATE_MILLISECONDS: 1000
    ENABLE_METADATA_MIGRATION: 'false'
#    STORAGE_CONTAINER_METADATA_CONTAINER_NAME: metadatamigration{{ .Release.Name }}
  postgresql:
    enabled: true
#blobstorage:
#  enabled: true
