java:
  image: 'https://hmcts.azurecr.io/hmcts/dm-store:latest'
  applicationPort: '4603'
  livenessPath: '/health'
  secrets:
    STORAGE_ACCOUNT_NAME:
      secretRef: storage-secret-{{ .Release.Name }}
      key: storageAccountName
    STORAGE_ACCOUNT_KEY:
      secretRef: storage-secret-{{ .Release.Name }}
      key: accessKey
    STORAGE_CONTAINER_DOCUMENT_CONTAINER_NAME:
      secretRef: container-secret-{{ .Release.Name }}-dm-docstore
      key: containerName
  environment:
    MAX_ACTIVE_DB_CONNECTIONS: '50'

    # db
    SPRING_DATASOURCE_URL: 'jdbc:postgresql://{{ .Release.Name }}-postgresql:5432/evidence'
    SPRING_DATASOURCE_USERNAME: 'evidence'
    SPRING_DATASOURCE_PASSWORD: 'evidence'


    MAX_FILE_SIZE: '100MB'

      # idam
    IDAM_USER_BASE_URI: 'https://preprod-idamapi.reform.hmcts.net:3511'
    IDAM_S2S_BASE_URI: 'http://rpe-service-auth-provider-aat.service.core-compute-aat.internal'

    # logging vars & healthcheck
    REFORM_SERVICE_NAME: dm-store
    REFORM_TEAM: evidence
    REFORM_SERVICE_TYPE: java

    PACKAGES_NAME: dm-store
    PACKAGES_PROJECT: evidence

    LOG_OUTPUT: single

      # addtional log
    ROOT_LOGGING_LEVEL: INFO
    LOG_LEVEL_SPRING_WEB: INFO
    LOG_LEVEL_DM: INFO
    SHOW_SQL: 'false'
    JSON_CONSOLE_PRETTY_PRINT: 'false'
    ROOT_APPENDER: JSON_CONSOLE


    ENDPOINTS_HEALTH_SENSITIVE: 'true'
    ENDPOINTS_INFO_SENSITIVE: 'true'

    ENABLE_DB_MIGRATE: 'true'

    DM_MULTIPART_WHITELIST: 'text/csv,application/rtf,image/jpeg,application/pdf,image/tiff,image/png,image/bmp,text/plain,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document,application/vnd.openxmlformats-officedocument.wordprocessingml.template,application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/vnd.openxmlformats-officedocument.spreadsheetml.template,application/vnd.ms-powerpoint,application/vnd.openxmlformats-officedocument.presentationml.presentation,application/vnd.openxmlformats-officedocument.presentationml.template,application/vnd.openxmlformats-officedocument.presentationml.slideshow'
    DM_MULTIPART_WHITELIST_EXT: '.csv,.rtf,.jpg,.jpeg,.bmp,.tif,.tiff,.png,.pdf,.txt,.doc,.dot,.docx,.dotx,.xls,.xlt,.xla,.xlsx,.xltx,.xlsb,.ppt,.pot,.pps,.ppa,.pptx,.potx,.ppsx'
    S2S_NAMES_WHITELIST: 'em_api,em_gw,ccd_gw,ccd_data,sscs,sscs_bulkscan,divorce_document_upload,divorce_frontend,divorce_document_generator,probate_backend,jui_webapp,pui_webapp,cmc_claim_store,bulk_scan_processor,em_npa_app,bulk_scan_orchestrator,fpl_case_service,finrem_document_generator,iac,em_stitching_api,dg_docassembly_api,ethos_repl_service,employment_tribunals'
    CASE_WORKER_ROLES: 'caseworker-probate,caseworker-cmc,caseworker-sscs,caseworker-divorce'

    # Toggles
    ENABLE_IDAM_HEALTH_CHECK: 'false'
    ENABLE_METADATA_SEARCH: 'true'
    ENABLE_DOCUMENT_AND_METADATA_UPLOAD: 'false'
    ENABLE_FOLDER_API: 'true'
    ENABLE_DELETE: 'true'
    ENABLE_TTL: 'true'
    ENABLE_THUMBNAIL: 'true'

    ENABLE_AZURE_STORAGE_CONTAINER: 'true'
    ENABLE_POSTGRES_BLOB_STORAGE: 'false'

    # Migration Job specific
    BLOBSTORE_MIGRATE_CCD_SECRET: 'y2hahvdZ9evcTVq2'
    BLOBSTORE_MIGRATE_CCD_PUBLIC_KEY_REQUIRED: 'false'
    BLOBSTORE_MIGRATE_CCD_PUBLIC_KEY: 'ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDiQ//gc/G53d9dLCtf123fIYo49gUySuJuxOcw2GtieWTMSy+O7RNtsAIjVf3mCOdDNuN69tZNPEWMdaW8n11s9MwYFahtxDecyn0KIP9MvPsfSMSbxhp/f7kfbdB/H/S5eYea66JTyeJS6uNd76RdHttx0mLO30ZkRcXB25c2SIXhRYsdoeKS5GXHDdNejkQM0S/Ev94x2UunApmYHjWN1XcDhsEsAeF4WHnvYh2XiMn9vHY44AqvbWLlAmCgzaXpz8Xhl0fO7jDKSeReDyuM3UTMaiFFaxuvliGol7aIXq/aVe/miiD2SLxHZ6RxAPW80bhXrzJMTLTCqhCEhzfv someone@somewhere.sometime'

    # Document Storage
    STORAGEACCOUNT_PRIMARY_CONNECTION_STRING: "DefaultEndpointsProtocol=https;AccountName=$(STORAGE_ACCOUNT_NAME);AccountKey=$(STORAGE_ACCOUNT_KEY);EndpointSuffix=core.windows.net"
    #STORAGEACCOUNT_SECONDARY_CONNECTION_STRING: ${data.azurerm_key_vault_secret.dm_store_storageaccount_secondary_connection_string.value}
  postgresql:
    postgresqlUsername: evidence
    postgresqlPassword: evidence
    postgresqlDatabase: evidence
    service:
      port: 5432
blobstorage:
  resourceGroup: dm-store-aks
  teamName: "CCD"
  location: uksouth
  setup:
    containers:
      - dm-docstore
dm-store:
  blobstorage:
    enabled: false
