management:
    endpoint:
        health:
            show-details: "always"
    endpoints:
        web:
            base-path: '/'
            exposure:
                include:
                    - health
                    - info

base-urls:
    idam-user: ${IDAM_API_URL:http://localhost:4501}
    idam-s2s: ${S2S_URL:http://localhost:4502}
    s2s-token: ${S2S_TOKEN:AAAAAAAAAAAAAAAA}
    ccd-case-disposer-s2s-token: ${CCD_CASE_DISPOSER_S2S_TOKEN:AAAAAAAAAAAAAAAA}
    dm-store: ${TEST_URL:http://localhost:4603}

toggle:
    metadatasearchendpoint: ${ENABLE_METADATA_SEARCH:true}
    documentandmetadatauploadendpoint: ${ENABLE_DOCUMENT_AND_METADATA_UPLOAD:true}
    folderendpoint: ${ENABLE_FOLDER_API:true}
    ttl: ${ENABLE_TTL:false}
    thumbnail: ${ENABLE_THUMBNAIL:true}
    includeidamhealth: ${ENABLE_IDAM_HEALTH_CHECK:false}
    metadatamigration: ${ENABLE_METADATA_MIGRATION:false}
    secureurl: ${ENABLE_SECURE_URL:false}
    deletemetadatafordocument: ${ENABLE_DELETE_METADATA_FOR_DOCUMENT:true}

em-anno:
  api:
    url: ${EM_ANNO_API_URL:http://localhost:4623}

em-npa:
  api:
    url: ${EM_NPA_API_URL:http://localhost:4685}

idam:
  s2s-auth:
    url: ${IDAM_S2S_BASE_URI:http://localhost:4502}
    totp_secret: ${S2S_KEY:AAAAAAAAAAAAAAAA}
    microservice: ${S2S_SERVICE_NAME:dm-store}
  client:
    id: ${DM_STORE_IDAM_CLIENT_ID:webshow}
    secret: ${DM_STORE_IDAM_CLIENT_SECRET:AAAAAAAAAAAAAAAA}
    redirect_uri: ${IDAM_CLIENT_REDIRECT_URI:http://localhost:4603/oauth2redirect}
  system-user:
    username: ${DM_STORE_SYSTEM_UPDATE_IDAM_USER:system.update@hmcts.net}
    password: ${DM_STORE_SYSTEM_UPDATE_IDAM_PASSWORD:Password12}

azure:
  storage:
    connection-string: ${STORAGEACCOUNT_PRIMARY_CONNECTION_STRING:false}
    blob-container-reference: ${STORAGE_CONTAINER_DOCUMENT_CONTAINER_NAME:hmctstestcontainer}
