<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <security>
        <requestFiltering removeServerHeader ="true"></requestFiltering>
    </security>
    <httpProtocol>
        <customHeaders>
            <remove name="X-Forwarded-Host"/>
            <remove name="X-Forwarded-Proto"/>
            <remove name="X-Forwarded-Port"/>
        </customHeaders>
    </httpProtocol>
    <handlers>
      <add name="httpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />
    </handlers>
    <httpPlatform stdoutLogEnabled="true"
        stdoutLogFile="%HOME%\LogFiles\stdout"
        processPath="%JAVA_HOME%\bin\java.exe"
        arguments="-Djava.net.preferIPv4Stack=true -Dserver.port=%HTTP_PLATFORM_PORT% -jar &quot;%HOME%\site\wwwroot\dm-store.jar&quot;">
    </httpPlatform>
  </system.webServer>
</configuration>
